<app-navigation-bar></app-navigation-bar>
<section class="section">
  <div class="container" *ngIf="article">
    <div class="row">
      <!-- Blog Post -->
      <div class="col-md-8 col-sm-8">
        <div class="post-content">
          <!-- Post Image -->
          <div class="post-img">
            <img src="images/blog/blog1.jpg" alt="">
          </div>
          <!-- /Post Image-->

          <!-- Post Meta-->
          <div class="post-meta">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-calendar"></i>{{article.date}}</a> </li>
              <li><a routerLink="/user/{{article.user.id}}"><i class="fa fa-user"></i>{{article.user.userName}}</a></li>
              <li><a href="#"><i class="fa fa-comments"></i>{{article.comments.length}}</a> </li>
            </ul>
          </div>
          <!-- /Post Meta-->

          <!-- Post Description -->
          <div class="post-description">
            <h3>{{article.title}}</h3>
            <p>{{article.content}}</p>
          </div>
          <!-- /Post Description -->

          <!-- Comment list -->
          <div class="comment-list">
            <h3>{{article.comments.length}} {{'label.comments' | translate}}</h3>
            <div class="comment-list">
              <div class="comment-element" *ngFor="let comment of article.comments">
                <app-comment [comment]="comment" (commentChanged)="ngOnInit()"></app-comment>
              </div>
            </div>
          </div>
          <!-- /newComment List -->

          <!-- Comment Section -->
          <div *ngIf="loggedIn" class="comments-section">
            <h3>{{'header.leave-comment' | translate}}</h3>
            <div class="comment-form">
              <form method="post">
                <div class="row">
                  <form [formGroup]="addCommentForm" (ngSubmit)="addComment()">
                    <div class="col-md-12">
                      <app-alert *ngIf="showMessageServerError" text="{{'message.unidentified-error' | translate}}" alertType="error"></app-alert>
                      <textarea formControlName="newComment" class="form-control" rows="7"></textarea>
                      <mat-error *ngIf="newComment?.errors?.required && submitted">
                        {{'validation.required' | translate}}
                      </mat-error>
                    </div>
                    <div class="col-md-12 text-right">
                      <button type="submit" class="btn btn-gray-border">{{'button.add-comment' | translate}}</button>
                    </div>
                  </form>
                </div>
              </form>
            </div>
          </div>
          <!-- /Comment Section -->
        </div>
      </div>
      <!-- /Blog Post -->

      <!-- Right Sidebar -->
      <div class="col-md-4 col-sm-4">

        <!-- Tags -->
        <div class="widget-main">
          <h4>{{'header.tags' | translate}}</h4>
          <div class="tags">
            <div class="tags-text" *ngFor="let tag of article.articleTags" href="">{{tag.name}}</div>
          </div>
        </div>
        <!-- /Tags -->

        <!--Start popular Post -->
        <div class="widget-main">
          <h4>{{'header.popular' | translate}}</h4>
          <div *ngFor="let article of topArticles" class="sidebar-widget clearfix">
            <a href="/article/{{article.id}}"><img src="images/blog/blog1.jpg" alt=""></a>
            <p class="sidebar-widget-title"><a href="/article/{{article.id}}">
              {{article.title}}
            </a></p>
            <p class="date">{{article.date}}</p>
          </div>
        </div>
        <!-- / popular Post -->

      </div>
      <!-- /right Sidebar -->
    </div> <!-- /row -->
  </div>
</section>
