<section id="facts" class="section parallax">
  <div class="overlay"></div>
  <div class="container">
    <div class="row" style="display: flex; justify-content: space-evenly">

      <!-- Start Item-->
      <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
        <span><i class="icon-happy"></i></span>
        <h3>841</h3>
        <span style="line-height: 20px">Aktywnych użytkowników</span>
      </div>
      <!-- End Item-->

      <!-- Start Item-->
      <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
        <span><i class="icon-presentation"></i></span>
        <h3>800</h3>
        <span style="line-height: 20px">Inspirujących artykułów</span>
      </div>
      <!-- End Item-->

      <!-- Start Item-->
      <div class="col-md-3 col-sm-6 facts-box margin-bottom-30">
        <span><i class="icon-target"></i></span>
        <h3>1232</h3>
        <span style="line-height: 20px">Ciekawych komentarzy</span>
      </div>
      <!-- End Item-->

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
