<app-navigation-bar></app-navigation-bar>
<div class="cms-page">
  <div class="cms-sidebar">
    <mat-sidenav-container>
      <mat-sidenav>Start</mat-sidenav>
      <mat-button-toggle-group [(ngModel)]="selectedBoard" name="cms-navigation">
        <mat-button-toggle value="dashboard">Dashboard</mat-button-toggle>
        <mat-button-toggle value="myArticles">My articles</mat-button-toggle>
        <mat-button-toggle value="articles">Articles</mat-button-toggle>
        <mat-button-toggle value="users">Users</mat-button-toggle>
        <mat-button-toggle value="administrationUsers">Administration users</mat-button-toggle>
        <mat-button-toggle value="tags">Tags</mat-button-toggle>
        <mat-button-toggle value="languages">Languages</mat-button-toggle>
        <mat-button-toggle value="security">Security</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-sidenav-container>
  </div>
  <div class="cms-page-content" [ngSwitch]="selectedBoard">
    <app-cms-my-articles *ngSwitchCase="'myArticles'"></app-cms-my-articles>
    <app-cms-articles *ngSwitchCase="'articles'"></app-cms-articles>
  </div>
</div>
