<header id="header" #header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--Start Logo -->
        <div class="logo-nav">
          <a href="../../../../index.html">
            <img src="../../../../images/logo.png" alt="Company logo"/>
          </a>
        </div>
        <!--End Logo -->
        <div class="clear-toggle"></div>
        <div id="main-menu" class="collapse scroll n avbar-right">
          <ul class="nav">

            <li [ngClass]="{'active': currentUrl.includes('home')}" routerLink="/home"><a>{{'navbar.home-page' | translate}}</a></li>

            <li [ngClass]="{'active': currentUrl.includes('article')}"><a routerLink="/articles">{{'navbar.articles' | translate}}</a></li>

            <li [ngClass]="{'active': currentUrl.includes('user')}"><a routerLink="/users">{{'navbar.users' | translate}}</a></li>

            <li *ngIf="!isLoggedIn" class="login" (click)="openLoginModal()"><a>{{'navbar.login' | translate}}</a></li>

            <li *ngIf="!isLoggedIn" class="register" (click)="openRegisterModal()"><a>{{'navbar.register' | translate}}</a></li>

            <li *ngIf="isCMSUser" class="cms" routerLink="/cms"><a>{{'navbar.cms' | translate}}</a></li>

            <li *ngIf="isLoggedIn" class="logout" (click)="logout()"><a>{{'navbar.logout' | translate}}</a></li>

            <li [matMenuTriggerFor]="langMenu"><a>{{'navbar.language' | translate}}</a></li>
            <mat-menu #langMenu="matMenu">
              <button [ngClass]="{'bolded': lang.name == currentLang}" mat-menu-item *ngFor="let lang of langs" (click)="setLanguage(lang.name)">
                {{lang.name | uppercase}}
              </button>
            </mat-menu>

            <li *ngIf="isLoggedIn" class="user-profile" routerLink="/user/{{loggedUser?.id}}">
              <a>
                <div class="user-avatar"></div>
                {{loggedUser?.userName}}
              </a>
            </li>

          </ul>
        </div><!-- end main-langMenu -->
      </div>
    </div>
  </div>
</header>
