#main-menu {
  a {
    text-transform: initial;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .login a {
    color: #bebeff !important;
  }
  .register a {
    color: #fcdab6 !important;
  }
  .cms {

  }
  .logout a {
    color: #fcb6b6 !important;
  }

  .user-profile {

    a {
      position: relative;

      .user-avatar {
        background: url("../../../../assets/user-avatar-white.svg") no-repeat;
        $bg-size: 30px;
        background-size: $bg-size;
        width: $bg-size;
        height: $bg-size;
        margin-right: 5%;
        position: absolute;
        left: 45px;
        top: 20px;
      }
    }
  }
}
