<header id="header" #header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--Start Logo -->
        <div class="logo-nav">
          <a href="../../../../index.html">
            <img src="../../../../images/logo.png" alt="Company logo"/>
          </a>
        </div>
        <!--End Logo -->
        <div class="clear-toggle"></div>
        <div id="main-menu" class="collapse scroll n avbar-right">
          <ul class="nav">

            <li [ngClass]="{'active': true}"><a href="#home">Strona główna</a></li>

            <li><a [routerLink]="['/article/2']">Artykuły</a></li>

            <li><a [routerLink]="['/users']">Użytkownicy</a></li>

            <li *ngIf="!isLoggedIn" class="login" (click)="openLoginModal()"><a>Zaloguj</a></li>

            <li *ngIf="!isLoggedIn" class="register" (click)="openRegisterModal()"><a>Zarejestruj</a></li>

            <li *ngIf="isCMSUser" class="cms" routerLink="/cms"><a>Panel administratora</a></li>

            <li *ngIf="isLoggedIn" class="logout" (click)="logout()"><a>Wyloguj</a></li>

          </ul>
        </div><!-- end main-menu -->
      </div>
    </div>
  </div>
</header>
