<section id="why-choose" class="section">
  <div class="container">
    <div class="row">

      <div class="title-box text-center">
        <h2 class="title">Najlepsi komentujący</h2>
      </div>

      <div class="ranking">
        <table class="users-table">
          <thead>
          <tr>
            <th>Nazwa użytkownika</th>
            <th>Ilość komentarzy</th>
          </tr>
          </thead>
          <tr *ngFor="let user of topUsers">
            <td>{{user.userName}}</td>
            <td>{{user.commentCount}}</td>
          </tr>
        </table>
      </div>

    </div> <!--/.row-->
  </div> <!--/.container-->
</section>
