<section id="why-choose" class="section">
  <div class="container">
    <div class="row">

      <div class="title-box text-center">
        <h2 class="title">Najlepsi komentujący</h2>
      </div>

      <div class="ranking">
        <table class="users-table">
          <thead>
          <tr>
            <th>Użytkownik</th>
            <th>Wynik</th>
          </tr>
          </thead>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>User</td>
            <td>1000</td>
          </tr>
        </table>
      </div>

    </div> <!--/.row-->
  </div> <!--/.container-->
</section>
