<h2 mat-dialog-title>{{editMode ? 'Editing tag' : 'Create tag'}}</h2>
<mat-dialog-content class="mat-typography modal-form">
  <app-alert *ngIf="showMessageServerError" text="Unidentified server error" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageTagInUse" text="Tag name already in use" alertType="error"></app-alert>
  <p>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Tag name</mat-label>
      <input [(ngModel)]="tagName" autocomplete="off" matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button (click)="editMode ? editTag() : createTag()" [disabled]="tagName.length == 0" type="submit" mat-flat-button color="primary">
        {{editMode ? 'Edit' : 'Create'}}
      </button>
    </mat-dialog-actions>
  </p>
</mat-dialog-content>

