$very-lightgrey-bg: #f1f1f1;
$lightgrey-bg: #d9d9d9;
$grey-bg: #c7c7c7;

$top-bar-bg: #202020;

$alert-warning-bg: #fbffdb;
$alert-warning-border: #c9c616;
$alert-success-bg: #deffdf;
$alert-success-border: #58c916;
$alert-error-bg: #ffdede;
$alert-error-border: #c91616;

$line-separator: #424242;
