<h2 mat-dialog-title>{{'modal.register.title' | translate}}</h2>
<mat-dialog-content class="mat-typography modal-form">
  <app-alert *ngIf="showMessageServerError" text="{{'message.unidentified-error' | translate}}" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageNicknameInUse" text="{{'message.username-in-use' | translate}}" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageEmailInUse" text="{{'message.email-in-use' | translate}}" alertType="error"></app-alert>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{'label.username' | translate}}</mat-label>
        <input formControlName="nickname" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="nickname?.errors?.required && submitted">
        {{'validation.required' | translate}}
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{'label.email' | translate}}</mat-label>
        <input formControlName="email" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="email?.errors?.required && submitted">
        {{'validation.required' | translate}}
      </mat-error>
      <mat-error
        *ngIf="!email?.errors?.required && email?.errors?.email && submitted">
        {{'validation.email' | translate}}
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{'label.email-confirm' | translate}}</mat-label>
        <input formControlName="emailConfirm" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="emailConfirm?.errors?.required && submitted">
        {{'validation.required' | translate}}
      </mat-error>
      <mat-error
        *ngIf="!emailConfirm?.errors?.required && emailConfirm?.errors?.confirm && submitted">
        {{'validation.email-wrong-confirm' | translate}}
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{'label.password' | translate}}</mat-label>
        <input formControlName="password" [type]="'password'" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="password?.errors?.required && submitted">
        {{'validation.required' | translate}}
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{'label.password-confirm' | translate}}</mat-label>
        <input formControlName="passwordConfirm" [type]="'password'" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="passwordConfirm?.errors?.required && submitted">
        {{'validation.required' | translate}}
      </mat-error>
      <mat-error
        *ngIf="!passwordConfirm?.errors?.required && passwordConfirm?.errors?.confirm && submitted">
        {{'validation.password-wrong-confirm' | translate}}
      </mat-error>
    </p>
    <p>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>{{'button.cancel' | translate}}</button>
        <button type="submit" mat-flat-button color="primary">{{'button.register' | translate}}</button>
      </mat-dialog-actions>
    </p>
  </form>
</mat-dialog-content>

