<h2 mat-dialog-title>Rejestraca</h2>
<mat-dialog-content class="mat-typography modal-form">
  <app-alert *ngIf="showMessageServerError" text="Wystąpił nieoczekiwany błąd" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageNicknameInUse" text="Nazwa użytkownika jest zajęta" alertType="error"></app-alert>
  <app-alert *ngIf="showMessageEmailInUse" text="Istnieje już konto zarejestrowne na ten email" alertType="error"></app-alert>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nazwa użytkownika</mat-label>
        <input formControlName="nickname" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="nickname?.errors?.required && submitted">
        Pole jest wymagane
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="email?.errors?.required && submitted">
        Pole jest wymagane
      </mat-error>
      <mat-error
        *ngIf="!email?.errors?.required && email?.errors?.email && submitted">
        Nieprawidłowy email
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Powtórz email</mat-label>
        <input formControlName="emailConfirm" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="emailConfirm?.errors?.required && submitted">
        Pole jest wymagane
      </mat-error>
      <mat-error
        *ngIf="!emailConfirm?.errors?.required && emailConfirm?.errors?.confirm && submitted">
        Źle powtórzono email
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Hasło</mat-label>
        <input formControlName="password" [type]="'password'" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="password?.errors?.required && submitted">
        Pole jest wymagane
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Powtórz hasło</mat-label>
        <input formControlName="passwordConfirm" [type]="'password'" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="passwordConfirm?.errors?.required && submitted">
        Pole jest wymagane
      </mat-error>
      <mat-error
        *ngIf="!passwordConfirm?.errors?.required && passwordConfirm?.errors?.confirm && submitted">
        Źle powtórzono hasło
      </mat-error>
    </p>
    <p>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anuluj</button>
        <button type="submit" mat-flat-button color="primary">Zarejestruj</button>
      </mat-dialog-actions>
    </p>
  </form>
</mat-dialog-content>

