<mat-dialog-content class="mat-typography modal-form">

  <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()">
    <h2>Zmiana adresu email</h2>
    <app-alert *ngIf="changeEmailFormServerError" text="Wystąpił nieoczekiwany błąd" alertType="error"></app-alert>
    <app-alert *ngIf="changeEmailFormSuccessed" text="Udało się zmienić hasło" alertType="success"></app-alert>
    <app-alert *ngIf="changeEmailFormEmailInUse" text="Istnieje już konto zarejestrowne na ten email"
               alertType="error"></app-alert>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nowy adres email</mat-label>
        <input formControlName="newEmail" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="newEmail?.errors?.required && changeEmailFormSubmitted">
        Pole jest wymagane
      </mat-error>
      <mat-error
        *ngIf="!newEmail?.errors?.required && newEmail?.errors?.email && changeEmailFormSubmitted">
        Nieprawidłowy email
      </mat-error>
    </p>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Powtórz adres email</mat-label>
        <input formControlName="newEmailConfirm" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="newEmailConfirm?.errors?.required && changeEmailFormSubmitted">
        Pole jest wymagane
      </mat-error>
    </p>
    <p>
      <mat-dialog-actions align="end">
        <button type="submit" mat-flat-button color="primary">Zmień adres email</button>
      </mat-dialog-actions>
    </p>
  </form>

  <form [formGroup]="changeUsernameForm" (ngSubmit)="changeUsername()">
    <h2>Zmiana nazwy użytkownika</h2>
    <app-alert *ngIf="changeUsernameFormServerError" text="Wystąpił nieoczekiwany błąd" alertType="error"></app-alert>
    <app-alert *ngIf="changeUsernameFormSuccessed" text="Udało się zmienić nazwę użytkownika" alertType="success"></app-alert>
    <app-alert *ngIf="changeUsernameFormUsernameInUse" text="Nazwa użytkownika zajęta" alertType="error"></app-alert>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nowa nazwa użytkownika</mat-label>
        <input formControlName="newUsername" autocomplete="off" matInput>
      </mat-form-field>
      <mat-error *ngIf="newUsername?.errors?.required && changeUsernameFormSubmitted">
        Pole jest wymagane
      </mat-error>
    </p>
    <p>
      <mat-dialog-actions align="end">
        <button type="submit" mat-flat-button color="primary">Zmień nazwę użytkownika</button>
      </mat-dialog-actions>
    </p>
  </form>
</mat-dialog-content>

