<app-navigation-bar></app-navigation-bar>
<div class="page-content-container">
  <div class="user-profile-container">
    <div class="user-avatar"></div>
    <div class="user-info-container">
      <div class="username">{{user?.userName}}</div>
      <div class="email">{{user?.userMail}}</div>
      <div class="comments-count">{{'label.comments' | translate}}: {{user?.commentsCount}}</div>
    </div>
    <div *ngIf="isLoggedUserProfile" class="settings-button-container">
      <button (click)="openUserSettingsModal()" mat-stroked-button>{{'button.settings' | translate}}</button>
    </div>
  </div>
  <h2 class="bottom-border">{{'header.user-comments' | translate}}</h2>
  <div class="user-comment-list">
    <div class="comment-element" *ngFor="let comment of comments">
      <app-comment [comment]="comment" (commentChanged)="ngOnInit()" [showArticleTitle]="true"></app-comment>
    </div>
  </div>
</div>
