<section id="home" class="home">
  <div class="slider-overlay"></div>
  <div class="flexslider">
    <ul class="slides scroll">

      <li class="first">
        <div class="slider-text-wrapper">
          <div class="container">
            <div class="big">{{latestArticles ? latestArticles[0].title : ''}}</div>
<!--            <div class="small">Tu będzie krótki opis artykułu</div>-->
            <a routerLink="/article/{{latestArticles ? latestArticles[0].id : ''}}" class="middle btn btn-white">
              {{'button.read-article' | translate}}
            </a>
          </div>
        </div>
        <img src="../../../../../images/slider/1.jpg" alt="">
      </li>

      <li class="secondary">
        <div class="slider-text-wrapper">
          <div class="container">
            <div class="big">{{latestArticles ? latestArticles[1].title : ''}}</div>
            <!--            <div class="small">Tu będzie krótki opis artykułu</div>-->
            <a routerLink="/article/{{latestArticles ? latestArticles[1].id : ''}}" class="middle btn btn-white">
              {{'button.read-article' | translate}}
            </a>
          </div>
        </div>
        <img src="../../../../../images/slider/2.jpg" alt="">
      </li>

      <li class="third">
        <div class="slider-text-wrapper">
          <div class="container">
            <div class="big">{{latestArticles ? latestArticles[2].title : ''}}</div>
<!--            <div class="small">Tu będzie krótki opis artykułu</div>-->
            <a routerLink="/article/{{latestArticles ? latestArticles[2].id : ''}}" class="middle btn btn-white">
              {{'button.read-article' | translate}}
            </a>
          </div>
        </div>
        <img src="../../../../../images/slider/3.jpg" alt="">
      </li>
    </ul>
  </div>
</section>
