<h2 mat-dialog-title>{{editMode ? 'Editing article' : 'Article creator'}}</h2>
<mat-dialog-content class="mat-typography modal-form">
  <app-alert *ngIf="showMessageServerError" text="Unidentified server error" alertType="error"></app-alert>
  <form [formGroup]="createArticleForm" (ngSubmit)="editMode ? editArticle() : createArticle()">
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input formControlName="title" autocomplete="off" matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language" (ngModelChange)="loadTagsForLanguage()">
          <mat-option *ngFor="let language of languages" [value]="language.name">
            {{language.languageCode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <div formArrayName="tags"  class="tags-container">
      <mat-checkbox *ngFor="let tag of tags?.controls; let i = index" [formControlName]="i">
        {{languageTags[i].name}}
      </mat-checkbox>
    </div>
    <p>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Article content</mat-label>
        <textarea matInput formControlName="content"></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button [disabled]="!formValid" type="submit" mat-flat-button color="primary">
          {{editMode ? 'Edit' : 'Create'}}
        </button>
      </mat-dialog-actions>
    </p>
  </form>
</mat-dialog-content>
